.login-container {
  min-height: 100vh;
}
.login-login {
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(150deg, rgba(255, 226, 74, 0) 100%);
}
.login-rectangle6 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
  border-color: transparent;
}
.login-text {
  top: 140px;
  left: -44px;
  color: rgba(243, 238, 223, 1);
  width: 386px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-group7 {
  top: 564px;
  left: 43px;
  width: 311px;
  height: 93px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(202, 231, 189, 1);
}
.login-text02 {
  top: 37px;
  left: 60px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-googlelogopngwebinaroptimizingforsuccessgooglebusi {
  top: 16px;
  left: 8px;
  width: 71px;
  height: 62px;
  position: absolute;
  border-color: transparent;
}
.login-group6 {
  top: 465px;
  left: 23px;
  width: 352px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login-text04 {
  left: 117px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-line2 {
  top: 24px;
  left: 147px;
  width: 147px;
  height: 0px;
  position: absolute;
}
.login-line3 {
  top: 25px;
  left: 352px;
  width: 147px;
  height: 0px;
  position: absolute;
}
.login-rectangle12 {
  top: 253px;
  left: 59px;
  width: 279px;
  height: 43px;
  position: absolute;
  border-color: transparent;
}
.login-text06 {
  top: 259px;
  left: 109px;
  color: rgba(0, 0, 0, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-rectangle13 {
  top: 306px;
  left: 59px;
  width: 279px;
  height: 43px;
  position: absolute;
  border-color: transparent;
}
.login-text08 {
  top: 312px;
  left: 109px;
  color: rgba(0, 0, 0, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-rectangle14 {
  top: 375px;
  left: 59px;
  width: 279px;
  height: 43px;
  position: absolute;
  border-color: transparent;
}
.login-text10 {
  top: 381px;
  left: 109px;
  color: rgba(0, 0, 0, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-text12 {
  top: 711px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-text17 {
  top: 65px;
  left: 21px;
  color: rgba(243, 238, 223, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-group5 {
  top: 61px;
  left: 264px;
  width: 106px;
  height: 112px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login-ellipse5 {
  top: 98px;
  left: 22px;
  width: 66px;
  height: 10px;
  position: absolute;
  box-sizing: content-box;
  border-color: transparent;
}
.login-image0045 {
  top: 0px;
  left: 0px;
  width: 106px;
  height: 112px;
  position: absolute;
  border-color: transparent;
}
.login-i-phone-statusbar {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.login-wifi {
  top: 17px;
  left: 317px;
  width: 18px;
  height: 13px;
  position: absolute;
}
.login-framebattery {
  top: 17px;
  left: 340px;
  width: 27px;
  height: 12.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.login-fill {
  top: 1.923076868057251px;
  left: 1.923076868057251px;
  width: 20px;
  height: 9px;
  position: absolute;
}
.login-outline {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 12px;
  opacity: 0.40;
  position: absolute;
}
.login-reception {
  top: 18px;
  left: 293px;
  width: 18px;
  height: 11px;
  position: absolute;
}
.login-text19 {
  top: 15px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 767px) {
  .login-login {
    width: 395px;
  }
}
