.working-container {
  min-height: 100vh;
}
.working-working {
  width: 397px;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(150deg, rgba(255, 226, 74, 0) 100%);
}
.working-rectangle6 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
  border-color: transparent;
}
.working-text {
  top: 464px;
  left: -36px;
  color: rgba(243, 238, 223, 1);
  width: 356px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-line1 {
  top: 410px;
  left: 0px;
  width: 393px;
  height: 0px;
  position: absolute;
}
.working-text05 {
  top: 362px;
  left: 242px;
  color: rgba(243, 238, 223, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text07 {
  top: 356px;
  left: 21px;
  color: rgba(243, 238, 223, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text09 {
  top: 340px;
  left: 4px;
  color: rgba(243, 238, 223, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text11 {
  top: 342px;
  left: 237px;
  color: rgba(243, 238, 223, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text13 {
  top: 734px;
  left: 294px;
  color: rgba(243, 238, 223, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-component3off {
  top: 1076px;
  left: 136px;
  width: 200px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-switchbody {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-switchbody1 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 90px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.working-switch {
  top: 10px;
  left: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  position: absolute;
  box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-ellipse1 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
  border-color: transparent;
}
.working-ellipse2 {
  top: 2px;
  left: 2px;
  width: 66px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.working-mask-group {
  top: 5px;
  left: 5px;
  width: 60.11773681640625px;
  height: 60.2841911315918px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.working-group2 {
  top: 3.4908447265625px;
  left: 4.20098876953125px;
  width: 51.067230224609375px;
  height: 53.10708999633789px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.working-component3on {
  top: 1182px;
  left: 136px;
  width: 200px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-switchbody2 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-switchbody3 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 90px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.working-switch1 {
  top: 10px;
  left: 120px;
  width: 70px;
  height: 70px;
  display: flex;
  position: absolute;
  box-shadow: -2px 1px 6px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-ellipse11 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  position: absolute;
  border-color: transparent;
}
.working-ellipse21 {
  top: 2px;
  left: 2px;
  width: 66px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.working-mask-group1 {
  top: 71.97808074951172px;
  left: 13.723647117614746px;
  width: 60.11773681640625px;
  height: 60.2841911315918px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.working-group21 {
  top: -4.961340585054131px;
  left: 2.2846011339315737px;
  width: 51.067230224609375px;
  height: 53.10708999633789px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.working-component2 {
  top: 351px;
  left: 168px;
  width: 69px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-switchbody4 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-switchbody5 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 38px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.working-vector16 {
  top: 17.18550682067871px;
  left: 29.00067901611328px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.working-vector17 {
  top: 21.257511138916016px;
  left: 32.43000030517578px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.working-switch2 {
  top: 4.222222328186035px;
  left: 3.450000047683716px;
  width: 24px;
  height: 29.555557250976562px;
  display: flex;
  position: absolute;
  box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-ellipse12 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.working-ellipse22 {
  top: 0.8444445133209229px;
  left: 0.6899999976158142px;
  width: 23px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.working-union {
  top: 2.1111111640930176px;
  left: 1.7249997854232788px;
  width: 21px;
  height: 25px;
  position: absolute;
}
.working-mask-group2 {
  top: 2.1111111640930176px;
  left: 1.7249999046325684px;
  width: 20.740617752075195px;
  height: 25.453327178955078px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.working-group22 {
  top: 6.379733562469482px;
  left: 7.475988864898682px;
  width: 0px;
  height: 0px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.working-group8 {
  top: 426px;
  left: 260px;
  width: 106px;
  height: 112px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.working-ellipse5 {
  top: 98px;
  left: 22px;
  width: 66px;
  height: 10px;
  position: absolute;
  box-sizing: content-box;
  border-color: transparent;
}
.working-image0045 {
  top: 0px;
  left: 0px;
  width: 106px;
  height: 112px;
  position: absolute;
  border-color: transparent;
}
.working-i-phone-statusbar {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-wifi {
  top: 17px;
  left: 317px;
  width: 18px;
  height: 13px;
  position: absolute;
}
.working-framebattery {
  top: 17px;
  left: 340px;
  width: 27px;
  height: 12.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-fill {
  top: 1.923076868057251px;
  left: 1.923076868057251px;
  width: 20px;
  height: 9px;
  position: absolute;
}
.working-outline {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 12px;
  opacity: 0.40;
  position: absolute;
}
.working-reception {
  top: 18px;
  left: 293px;
  width: 18px;
  height: 11px;
  position: absolute;
}
.working-text15 {
  top: 15px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 479px) {
  .working-working {
    width: 391px;
  }
}
