.settings-container {
    min-height: 100vh;
  }
  .settings-settings {
    width: 397px;
    height: 852px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(191, 143, 228, 1);
  }
  .settings-rectangle6 {
    top: 0px;
    left: 0px;
    width: 393px;
    height: 852px;
    position: absolute;
    border-color: transparent;
  }
  .settings-text {
    top: 72px;
    left: 67px;
    color: rgba(243, 238, 223, 1);
    width: 386px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-text02 {
    top: 76px;
    left: 96px;
    color: rgba(243, 238, 223, 1);
    width: 58px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-text04 {
    top: 179px;
    left: 25px;
    color: rgba(243, 238, 223, 1);
    width: 206px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-text06 {
    top: 499px;
    left: 24px;
    color: rgba(243, 238, 223, 1);
    width: 171px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-frame1 {
    top: 242px;
    left: 12px;
    width: 365px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .settings-checkbox-group {
    width: 345px;
    height: 209px;
    display: flex;
    padding: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 32px 32px -24px rgba(0, 0, 0, 0.10000000149011612) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(173, 85, 205, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    flex-direction: column;
    background-color: rgba(221, 172, 244, 0);
  }
  .settings-halal {
    width: 180px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .settings-radiowrapper {
    display: flex;
    padding: 8px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
  }
  .settings-controller {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 8px;
    justify-content: center;
  }
  .settings-thumb {
    width: 22px;
    height: 22px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 150, 113, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
    background-color: rgba(243, 238, 223, 1);
  }
  .settings-icon {
    width: 2px;
    height: 2px;
    display: flex;
    opacity: 0.00;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .settings-text08 {
    color: rgba(243, 238, 223, 1);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-vegetarian {
    width: 180px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .settings-radiowrapper1 {
    display: flex;
    padding: 8px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
  }
  .settings-controller1 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 8px;
    justify-content: center;
  }
  .settings-thumb1 {
    width: 22px;
    height: 22px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 150, 113, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
    background-color: rgba(243, 238, 223, 1);
  }
  .settings-icon1 {
    width: 2px;
    height: 2px;
    display: flex;
    opacity: 0.00;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .settings-text10 {
    color: rgba(243, 238, 223, 1);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-vegan {
    width: 180px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .settings-radiowrapper2 {
    display: flex;
    padding: 8px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
  }
  .settings-controller2 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 8px;
    justify-content: center;
  }
  .settings-thumb2 {
    width: 22px;
    height: 22px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 150, 113, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
    background-color: rgba(243, 238, 223, 1);
  }
  .settings-icon2 {
    width: 2px;
    height: 2px;
    display: flex;
    opacity: 0.00;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .settings-text12 {
    color: rgba(243, 238, 223, 1);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-pescatarian {
    width: 180px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .settings-radiowrapper3 {
    display: flex;
    padding: 8px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
  }
  .settings-controller3 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 8px;
    justify-content: center;
  }
  .settings-thumb3 {
    width: 22px;
    height: 22px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 150, 113, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
    background-color: rgba(243, 238, 223, 1);
  }
  .settings-icon3 {
    width: 2px;
    height: 2px;
    display: flex;
    opacity: 0.00;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .settings-text14 {
    color: rgba(243, 238, 223, 1);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-allergiesnuts {
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    border-color: transparent;
    flex-direction: column;
    justify-content: center;
  }
  .settings-radiowrapper4 {
    display: flex;
    padding: 8px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
  }
  .settings-controller4 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 8px;
    justify-content: center;
  }
  .settings-thumb4 {
    width: 22px;
    height: 22px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 150, 113, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
    background-color: rgba(243, 238, 223, 1);
  }
  .settings-icon4 {
    width: 2px;
    height: 2px;
    display: flex;
    opacity: 0.00;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .settings-text16 {
    color: rgba(243, 238, 223, 1);
    height: auto;
    flex-grow: 1;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-text18 {
    top: 549px;
    left: 1px;
    color: rgba(243, 238, 223, 1);
    width: 306px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-text20 {
    top: 640px;
    left: 189px;
    color: rgba(235, 75, 75, 1);
    width: 208px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }
  .settings-text22 {
    top: 640px;
    left: -4px;
    color: rgba(243, 238, 223, 1);
    width: 208px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: PoetsenOne;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .settings-group8 {
    top: 724px;
    left: 150px;
    width: 106px;
    height: 112px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .settings-ellipse5 {
    top: 98px;
    left: 22px;
    width: 66px;
    height: 10px;
    position: absolute;
    box-sizing: content-box;
    border-color: transparent;
  }
  .settings-image0045 {
    top: 0px;
    left: 0px;
    width: 106px;
    height: 112px;
    position: absolute;
    border-color: transparent;
  }
  .settings-vector18 {
    top: 89.5px;
    left: 35px;
    width: 28px;
    height: 56px;
    position: absolute;
  }
  .settings-i-phone-statusbar {
    top: 0px;
    left: 0px;
    width: 393px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .settings-wifi {
    top: 17px;
    left: 317px;
    width: 18px;
    height: 13px;
    position: absolute;
  }
  .settings-framebattery {
    top: 17px;
    left: 340px;
    width: 27px;
    height: 12.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .settings-fill {
    top: 1.923076868057251px;
    left: 1.923076868057251px;
    width: 20px;
    height: 9px;
    position: absolute;
  }
  .settings-outline {
    top: 0px;
    left: 0px;
    width: 27px;
    height: 12px;
    opacity: 0.40;
    position: absolute;
  }
  .settings-reception {
    top: 18px;
    left: 293px;
    width: 18px;
    height: 11px;
    position: absolute;
  }
  .settings-text24 {
    top: 15px;
    left: 39px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Semibold;
    text-align: center;
    font-family: SF Pro Display;
    font-weight: 600;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  