


.wrapper {
  top: 0px;
  left: 0px;
  width: 399px;
  height: 1200px;
  position: absolute;
  border-color: transparent;
  background-image:url("/public/public/playground_assets/rectangle65910-g5ye-900h.png");
  background-size: 396px 1500px;
  background:cover;

 

}
.working-text {
  top: 340px;
  left: -35px;
  color: rgba(243, 238, 223, 1);
  width: 356px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}


.working-text05 {
  top: 210px;
  left: 242px;
  color: rgba(243, 238, 223, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text07 {
  top: 210px;
  left: 21px;
  color: rgba(243, 238, 223, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text09 {
  top: 185px;
  left: 4px;
  color: rgba(243, 238, 223, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text11 {
  top: 185px;
  left: 237px;
  color: rgba(243, 238, 223, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-text13 {
  top: 734px;
  left: 294px;
  color: rgba(243, 238, 223, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: PoetsenOne;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.working-component3off {
  top: 1076px;
  left: 136px;
  width: 200px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.working-component2 {
  top: 210px;
  left: 168px;
  width: 69px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.working-switchbody5 {
  top: 3px;
  left: 0px;
  width: 69px;
  height: 38px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}

.working-group8 {
  top: 300px;
  width: 106px;
  height: 112px;
  display: flex;
  position: absolute;
  flex-shrink: 1;
}


.working-ellipse5 {
  top: 400px;
  left: 295px;
  width: 66px;
  height: 10px;
  position: absolute;
  box-sizing: content-box;
  border-color: transparent;
}


.working-image0045 {
  top: 300px;
  left: 275px;
  width: 106px;
  height: 112px;
  position: absolute;
  border-color: transparent;
}

#head{
  color: rgba(243, 238, 223, 1);
  margin:5px;
  padding:5px;
  border:1px solid rgba(243, 238, 223, 1);
  border-radius:20px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}